.container {
  width: 350px;
  color: #232946;
  background-color: #d4d8f0;
}

.headline {
  text-align: center;
}

.usersList {
  padding: 20px;
}

.user {
  border-bottom: 1px solid #000000;
  padding: 20px 0 20px 0;
  cursor: pointer;
}

.user:hover {
  font-weight: bold;
}
