.page {
  display: flex;
  flex-direction: row;
  font-family: "Jetbrains Mono";
  height: 100vh;
}

/* .onlineUsersAndSignOutContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.onlineUsers {
  flex-grow: 1;
  overflow-y: auto;
} */

.signOutButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
}

.chatContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-left: 1px solid #ccc;
}

.receiverUsername {
  padding: 20px;
  border-bottom: 1px solid #ddd;
}

.messages {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 90vh;
}

.messageContent {
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid;
  border-color: black;
  max-width: 70%;
}

.myMessage {
  align-self: flex-end;
  /* background-color: #fff090b0; */
}

.otherMessage {
  align-self: flex-start;
  /* background-color: #f1f1f1; */
}

.username {
  font-weight: bold;
}

.messageText {
  display: inline-block;
}

.username {
  font-weight: bold;
  margin-right: 10px;
}

.messageText {
  word-break: break-word;
}

.inputContainer {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-top: 1px solid #ddd;
  position: sticky;
  bottom: 0;
}

.input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
}

.button,
.signOutButton:hover {
  background-color: #005bb5;
}
